.feature-icons {
  list-style-type: none;
}

.avatar {
  margin-left: 16px;
  border-radius: 100%;
  display: block;
  max-height: 350px;
  min-width: 200px;
}

@media only screen and (max-width: 800px) {
  .avatar {
    display: none;
  }
}

#logo {
  text-align: left;
}

#header {
  padding: 16px 0;
}

#header header {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

#one,
#two,
#three,
#four {
  scroll-margin-top: 50px;
}

#one {
  color: var(--sky)

}

#one .lcars-text-bar {
  background-color: var(--sky);
  border-color: var(--sky)
}

#two {
  color: var(--ice)
}

#two .lcars-text-bar {
  background-color: var(--ice);
  border-color: var(--ice)
}

#three{
  color: var(--african-violet)
}

#three .lcars-text-bar {
  background-color: var(--african-violet);
  border-color: var(--african-violet)
}

#four, #four a {
  color: var(--magenta)
}

#four .lcars-text-bar {
  background-color: var(--magenta);
  border-color: var(--magenta)
}

.centered-image {
  display: grid;
  align-content: center;
}

.lcars-with-avatar {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  margin-top: 12px;
}

.lcars-header {
  height: 100%;
}

.contact-list {
  list-style-type: none;
}
