.feature-icons {
  list-style-type: none;
}

.avatar {
  border-radius: 100%;
  display: block;
  max-width: 200px;
}

.avatar {
  float: right;
}

#logo {
  text-align: left;
}

#header {
  padding: 16px 0;
}

#header header {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.image {
  height: 20em;
  object-fit: scale-down;
}
